.page2{background-size: cover;
background-image: url('profilebg.jpeg');
text-align: center;
color: aquamarine;
}
.page1{
text-align:center;
background-image: url('frontpage.jpeg');
background-size: cover;
background-position: center;


}
.page3{text-align: center;

    background-image:url('aboutme.jpeg');
    background-size: cover;
}
.page4{color: aquamarine;
text-align: center;
background-image:url('loginpage.jpeg') ;
background-position: center;
background-size: cover;
}
.btn-container{
    text-align: right;
}

.page5{text-align: center;
background-image:url('projectbg.jpeg');
background-position:center;
background-size:cover;
