.page2{background-size: cover;margin:0%;
    padding: 0%;
    height: 100vh;

background-image: url('profilebg.jpeg');
text-align: center;
color: aquamarine;
}
.page1{
text-align:center;
margin:0%;
    padding: 0%;
    height: 100vh;
background-image: url('frontpage.jpeg');
background-size: cover;
background-position: center;


}
.page3{text-align: center;
margin:0%;
    padding: 0%;
    height: 100vh;
    background-image:url('aboutme.jpeg');
    background-size: cover;
}
.page4{color: aquamarine;
text-align: center;
margin:0%;
    padding: 0%;
    height: 100vh;
background-image:url('loginpage.jpeg') ;
background-position: center;
background-size: cover;
}
.btn-container{
    text-align: right;
}

.page5{text-align: center;
    margin:0%;
    padding: 0%;
    height: 100vh;
background-image:url('projectbg.jpeg');
background-position:center;
background-size:cover;
}
.page6{
    margin:0%;
    padding: 0%;
    height: 100vh;
text-align: center;
color:rgb(163, 127, 255);
background-image: url('registorbg.jpeg');
background-position-x: center;
background-repeat: no-repeat;
background-size: cover;

}